@font-face {
  font-family: "iconfont"; /* Project id 4065607 */
  src: url('iconfont.woff2?t=1685517709050') format('woff2'),
       url('iconfont.woff?t=1685517709050') format('woff'),
       url('iconfont.ttf?t=1685517709050') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e607";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-zhixianfangyang:before {
  content: "\e60d";
}

.icon-luxian:before {
  content: "\e874";
}

.icon-ceju1:before {
  content: "\e64e";
}

.icon-kongjianceju:before {
  content: "\e765";
}

.icon-zhidingfanwei:before {
  content: "\e6d4";
}

.icon-biaoji:before {
  content: "\e672";
}

.icon-icon-chongdie:before {
  content: "\e62b";
}

.icon-ceju:before {
  content: "\e66e";
}

.icon-tianqi:before {
  content: "\e640";
}

.icon-tianqi1:before {
  content: "\e6a7";
}

.icon-a-iconkongqizhiliang:before {
  content: "\e614";
}

.icon-Hailstorm-Night:before {
  content: "\e9ad";
}

.icon-kongqizhiliangyujing:before {
  content: "\e666";
}

.icon-road-conditions_line:before {
  content: "\e70e";
}

.icon-kongqizhiliangfenxi:before {
  content: "\ec97";
}

.icon-gongjiao:before {
  content: "\e606";
}

.icon-dibudaohanglan-:before {
  content: "\e631";
}

