body {
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    background: linear-gradient(200deg,#f3e7e9,#e3eeff)
}

/* 阿里图标库 */
.icon {
  width: 1.7em;
  height: 1.7em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  background-color:rgba(63, 222, 196, 0);
}

.icon:hover{
    background-color:rgba(63, 222, 196, 0.5);
}

.icon:active{
    width: 1.6em;
    height: 1.6em;
    background-color:rgba(63, 222, 196, 0.7);
}

/* 上面板 */
#topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(98, 122, 83, 0.547);
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.topbar-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
}

.topbar-link:hover {
    text-decoration: underline;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(221, 235, 212, 0.773);
    padding: 13px;
    color: white;
}

#logo1 {
    display: flex;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    position: relative;
    left:150px
}

#logo img {
    height: 50px;
}

#logo h1 {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    margin-left: 15px;
}

#search-login{
    display: flex;
    background-color: #fff;
    /* 内边距（上下左右） */
    padding: 20px;
    /* 盒子阴影 */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* 圆角 */
    border-radius: 10px;
}
#search-login .input-data{
    /* 相对定位 */
    position:relative;
    width: 200px;
    height: 30px;
}
#search-login .input-data #search-box{
    width: 170px;
    height: 100%;
    border:none;
    font-size: 15px;
    border-bottom: 2px solid #c0c0c0;
}

#search-box{
    outline: none;
}

/* 输入框获得焦点时 */
#search-login .input-data #search-box:focus ~ label,
/* 输入框的值为合法时 */
#search-login .input-data #search-box:valid ~ label{
    /* label上移，同时改变字号、字体颜色 */
    transform: translateY(-20px);
    font-size: 15px;
    color: #2c6fdb;
}
#search-login .input-data label{
    /* 绝对定位 */
    position: absolute;
    bottom: 5px;
    left: 0px;
    color: #808080;
    /* 这个属性可以使点击label穿透到输入框 */
    pointer-events: none;
    /* 现在动画有点生硬，在这里需要给动画加个过渡 */
    transition: all 0.3s ease;
}
#search-login .input-data .underline{
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 175px;
    background-color: #2c6fdb;
    /* 沿X轴缩小 */
    transform: scaleX(0);
    /* 这里同样给动画加个过渡 */
    transition: all 0.3s ease;
}
#search-login .input-data input:focus ~ .underline,
#search-login .input-data input:valid ~ .underline{
    /* 沿X轴放大 */
    transform: scaleX(1);
}

#login {
    width: 100px;
    height: 28px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    /* 渐变背景 */
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 50px;
    z-index: 1;
 }
 #login::before{
    /* 渐变背景 */
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 50px;
    /* 位于按钮之下 */
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}
/* 鼠标移入执行动画 */
#login:hover{
    /* 动画：名称 时间 infinite是无限次播放 */
    animation: streamer 8s infinite;
}
#login:hover::before{
    animation: streamer 8s infinite;
}
/* 接下来定义动画 */
@keyframes streamer{
    100%{
        /* 背景位置 */
        background-position: -400% 0;
    }
}

/* 下面是主体部分 */
#main {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 90px;
    background-color: rgba(221, 235, 212, 0.773);
}

#sidebar img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#sidebar .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(221, 235, 212, 0.773);

}

.map {
    height: 90vh;
    width: 100vw;
  }
  

#sidebar .button:hover:not(.active) {
    background-color: rgba(235, 255, 223, 0.773);
}

#sidebar .active {
    background-color: rgb(255, 255, 255);
}




/* 拓展栏部分 */

/* 通用的扩展栏样式 */
.extendedBar {
    position: absolute;
    top: 105px;
    /* 距离顶部的距离，根据需要调整 */
    left: 90px;
    /* 与侧边栏的距离，根据需要调整 */
    width: 250px;
    /* 扩展栏宽度，根据需要调整 */
    height: calc(100vh - 70px);
    padding: 15px;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    z-index: 1000;
}



/* 拓展栏1：出行导航 */
/* #extendedBar1 {
    position: absolute;
    top: 124.5px;
    left: 90px;
    height: 600px;
    z-index: 1;
    background-color: #f4f7ff;
    padding: 10px;
} */

.inputBox {
    position: relative;
    width: 300px;
}

.inputBox input {
    width: 100%;
    padding: 18px;
    border: 2px solid rgba(35, 146, 34, 0.5);
    background: none;
    border-radius: 5px;
    outline: none;
    color: rgb(22, 93, 55);
    font-size: 15px;
    /* 过渡 */
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    top: -5px;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-weight: 545;
    font-size: 14px;
    color: rgb(41, 141, 30);
    /* 大写字母 */
    /* 过渡 */
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #50c9c3;
    /* 变换位置 */
    transform: translateX(15px) translateY(1px);
    font-size: 0.65em;
    padding: 0 5px;
    background: #ffffff;
    letter-spacing: 0.1em;
}

.inputBox:nth-child(3) input:valid~span,
.inputBox:nth-child(3) input:focus~span {
    background: #f8ffff;
    color: white;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #50c9c3;
}
/*到这结束*/

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*以下为前版*/
/*.tzl_box {
    width: 78px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    left: -15px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    user-select: none;
    border: 3px solid transparent; /* 添加默认的透明边框 */
    /*transition:border-color 0.3s ease-in-out;
}
.tzl_box:nth-of-type(1) {
    background-image: linear-gradient(45deg, #F43f3b, #Ec008c);
}

.tzl_box:nth-of-type(2) {
    background-image: linear-gradient(45deg, #Ff9700, #Ed1c24);
}

.tzl_box:nth-of-type(3) {
    background-image: linear-gradient(45deg, #39b54a, #8dc63f);
}

.tzl_box:nth-of-type(4) {
    background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
}

.tzl_box:nth-of-type(5) {
    background-image: linear-gradient(45deg, #9000ff, #5e00ff);
}

.tzl_box:nth-of-type(6) {
    background-image: linear-gradient(45deg, #Ec008c, #6739b6);
}
.tablinks {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.tablinks.active {
    color: #126820;
    background-color: rgb(132, 214, 107);
}
*/
/*
.tzl_box:hover {
    border-color: #ffffff; 
    /* 鼠标悬停状态下的边框颜色 */
/*}
*/

:root {
    --bg-color: #ffffff;
    --main-color: #1f9c1c;
    --nav-item-width: 70px;
    --nav-item-height: 32px;
    --nav-item-border-width: 3px;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

.nav {
    position: relative;
    left: -12px;
    background: rgb(202, 226, 199);
    border-radius: 24px;
    font-size: 0px;
    font-weight: 600;
    padding: var(--nav-item-border-width);
    z-index: 0;
}

.nav-item {
    width: var(--nav-item-width);
    height: var(--nav-item-height);
    font-size: 14px;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.nav>input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.nav>input[type="radio"]:checked+label {
    color: white;
}

.tracker {
    width: var(--nav-item-width);
    height: var(--nav-item-height);
    background: var(--main-color);
    z-index: -1;
    position: absolute;
    left: var(--nav-item-border-width);
    top: var(--nav-item-border-width);
    border-radius: 24px;
    transition: transform .3s ease-in-out;
}

#nav-item-opt-2:checked~.tracker {
    transform: translateX(calc(var(--nav-item-width)));
}

#nav-item-opt-3:checked~.tracker {
    transform: translateX(calc(var(--nav-item-width)*2));
}

.tracker {
    width: var(--nav-item-width);
    height: var(--nav-item-height);
    background: var(--main-color);
    z-index: -1;
    position: absolute;
    left: var(--nav-item-border-width);
    top: var(--nav-item-border-width);
    border-radius: 24px;
    transition: transform .3s ease-in-out;
}

#buttons_box{
    width: 198px;
}

.content {
    display: none;
    position: relative;
    left: -10px;
    top: 5px;
}

.content.active {
    display: flex;
}
.sub-button {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin: 2px;
    color: var(--main-color);
    background-color: var(--bg-color);
    border: var(--nav-item-border-width) solid var(--main-color);
    border-radius: 24px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.sub-button:hover {
    background-color: var(--main-color);
    color: white;
}

.sub-button.active {
    background-color:var(--main-color);
    color: rgb(13, 47, 4);
}
#extendedBar1 h3 {
    text-align: center;
    color: #0073ff;
    margin: 1px 1px 3px;
    font-size: 23px;
}

#extendedBar1 h4 {
    text-align: center;
    color: #0073ff;
    margin: 1px 1px 3px;
    font-size: 18px;
}

#extendedBar1 #search-box1,
#extendedBar1 #search-box2 {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

#extendedBar1 #search-box2{
    position: relative;
    top: -15px;
}

#extendedBar1 #search-text1,
#extendedBar1 #search-text2 {
    width: 200px;
    height: 18px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: rgb(143, 143, 230), 5px;
    padding: 5px;
    font-size: 16px;
}

/*#extendedBar1 #search-button {
    background-color: #0072C6;
    color: #fff;
    border-radius: 5px;
    margin: 6px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}*/

.sb_button {
    position: relative;
    left: 5px;
    top: 10px;
    margin: 15px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #137427;
    transition: all 0.2s ease;
  }
  .sb_button:active {
    transform: scale(0.9);
  }
  .sb_button:before,
  .sb_button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .sb_button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #137427 20%, transparent 30%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #137427 15%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .sb_button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #137427 15%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

/*#extendedBar1 .tab {
    width: 254px;
    overflow: hidden;
    border: 1px solid #bcbbbb;
    background-color: #f1f1f1;
}

#extendedBar1 .tab span {
    display: inline-block;
    border-style: solid;
    border-color: #0090d2;
    border-width: 0 1.5px 1.5px 0;
    width: 48px;
    height: 23px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    padding: 15px 16px;
    transition: 0.3s;
}

#extendedBar1 .tab span:hover {
    background-color: #ddd;
}

#extendedBar1 .tab span.active {
    background-color: #b4cedf;
    border: 100px;
    border-color: #2a7fff;
}*/

#extendedBar1 .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #9e9d9d; */
    border-top: none;
}

.sc_cx_box{
    position: absolute;
    top: 85%;
    left: 50%;
}

.sc_cx_btn{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color:rgb(17, 83, 11);
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(87, 216, 90);
    transition: background-color .2s ease-in-out, color .3s ease-in-out;
    border-style:none;
    border-width: 2px;
    border-color: rgb(17, 83, 11);
  }
.sc_cx_btn:hover{
background-color: rgb(17, 83, 11);
color: aliceblue;
}
.sc_cx_btn:active{
background-color: rgb(32, 177, 170);
color: aliceblue;
}




/* 拓展栏2：多点出行 */
/* #extendedBar2 {
    position: absolute;
    top: 124.5px;
    left: 90px;
    height: 600px;
    z-index: 1;
    background-color: #f4f7ff;
    padding: 10px;
} */

#extendedBar2 h3 {
    text-align: center;
    color: #0073ff;
    margin: 1px 1px 3px;
    font-size: 23px;
}

#extendedBar2 h4 {
    text-align: center;
    color: #0073ff;
    margin: 1px 1px 3px;
    font-size: 18px;
}

#extendedBar2 #search-box3,
#extendedBar2 #search-box4 {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

#extendedBar2 #search-box4{
    position: relative;
    top: -25px;
}

#extendedBar2 #search-text3,
#extendedBar2 #search-text4 {
    width: 200px;
    height: 18px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: rgb(143, 143, 230), 5px;
    padding: 5px;
    font-size: 16px;
}

.searchtext {
    width: 200px;
    height: 18px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: rgb(143, 143, 230), 5px;
    padding: 5px;
    font-size: 16px;
}

 /*#extendedBar2 #search-button {
    background-color: #0072C6;
    color: #fff;
    border-radius: 5px;
    margin: 6px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}*/

#extendedBar2 #tab02 {
    width: 254px;
    overflow: hidden;
    border: 1px solid #bcbbbb;
    background-color: #f1f1f1;
}

#extendedBar2 #tab02 span {
    display: inline-block;
    border-style: solid;
    border-color: #0090d2;
    border-width: 0 1.5px 1.5px 0;
    width: 48px;
    height: 23px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    padding: 15px 16px;
    transition: 0.3s;
}

#extendedBar2 #tab02 span:hover {
    background-color: #ddd;
}

#extendedBar2 #tab02 span.active {
    background-color: #b4cedf;
    border: 100px;
    border-color: #2a7fff;
}

#extendedBar2 .tabcontent2 {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #9e9d9d; */
    border-top: none;
}

#jj_buttons{
    position: absolute;
    top:62px;
    left:225px;
}

#add-button1,#delete-button1{
    width: 18px;
    height: 18px;
}

.sb_button2 {
    position: relative;
    left: 5px;
    top: 10px;
    margin: 15px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #137427;
    transition: all 0.2s ease;
  }
  .sb_button2:active {
    transform: scale(0.9);
  }
  .sb_button2:before,
  .sb_button2:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .sb_button2.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #137427 20%, transparent 30%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #137427 15%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .sb_button2.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #137427 15%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%),
      radial-gradient(circle, #137427 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
#reGenerateBtn{
    position: relative;
    width: 80px;
    height: 30px;
    color: rgb(48, 150, 18);
    font-size: 16px;
    font-weight: 600;
    border-color: #1f9c1c;
    background-color: rgb(240, 240, 240);
    transition: background-color .2s ease-in-out, color .3s ease-in-out;
  }
  #reGenerateBtn:hover{
    border-color: white;
background-color: rgb(17, 83, 11);
color: aliceblue;
}
/* 拓展栏3：拓展功能 */

/* 扩展栏面板 标题 */
.extendedBar h3 {
    color: #0073ff;
    margin: 10px 10px 30px;
    font-size: 23px;
}

/* 扩展栏面板 子标题 */
.extendedBar h4 {
    color: #0090d2;
    margin: 30px 10px 20px;
}

/* 拓展功能面板 功能*/
.extendedFunction .button {
    font-size: 16px;
    margin: 0 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    width: 160px;
    height: 35px;
    line-height: 35px;
    text-indent: 22px;
}

.extendedFunction span {
    font-size: 20px;
    font-weight: 500;
}

.inputBox2 {
    position: relative;
    width: 150px;
    left: 20px;
    top: 20px;
}

.inputBox2 input {
    width: 100%;
    height:10px;
    padding: 11px;
    border: 2px solid rgba(35, 146, 34, 0.5);
    background: none;
    border-radius: 5px;
    outline: none;
    color: rgb(22, 93, 55);
    font-size: 15px;
    /* 过渡 */
    transition: 0.5s;
}

.inputBox2 span {
    position: absolute;
    top: -5px;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-weight: 545;
    font-size: 14px;
    color: rgb(41, 141, 30);
    /* 大写字母 */
    /* 过渡 */
    transition: 0.5s;
}

.inputBox2 input:valid~span,
.inputBox2 input:focus~span {
    color: #50c9c3;
    /* 变换位置 */
    transform: translateX(15px) translateY(1px);
    font-size: 0.65em;
    padding: 0 5px;
    background: #ffffff;
    letter-spacing: 0.1em;
}

.inputBox2:nth-child(3) input:valid~span,
.inputBox2:nth-child(3) input:focus~span {
    background: #f8ffff;
    color: white;
}

.inputBox2 input:valid,
.inputBox2 input:focus {
    border: 2px solid #50c9c3;
}
/*到这结束*/

#highlight-button{
    position: absolute;
    left: 180px;
    top: 3px;
    width: 60px;
    height: 30px;
    background-color: #137427;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: 0px;
    transition: all 0.2s ease;
}

#highlight-button:active {
    transform: scale(0.8);
  }

.extendedFunction .button{
    background-color: #daf2ca;
    transition: all 0.2s ease;
}

.extendedFunction .button:hover{
    background-color: #196b00;
    color: white;
}

.extendedFunction .button:active {
    transform: scale(0.8);
    color: #dfdfdf;
}

/* 工具面板 */
.toolPanel {
    margin: 30px 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #0ca5cf;
    width: 160px;
    height: 150px;
    box-shadow: 0 2px 2px 0 rgb(3, 172, 172);
}

.toolPanel h5 {
    text-align: center;
    margin: 10px;
    color: #0ca5cf;
    font-size: 14px;
    margin-bottom: 10px;
}

.toolPanel .button {
    margin: 0 auto;
    width: 130px;
    text-indent: 15px;
}

/* 测距工具 */
#AQI_select {
    display: none;
}

#highlight-button2{
    position: absolute;
    left: 180px;
    top: 3px;
    width: 60px;
    height: 30px;
    background-color: #137427;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: 0px;
    transition: all 0.2s ease;
}
#highlight-button:active{
    transform: scale(0.8);
}
#highlight-button2:active{
    transform: scale(0.8);
}

/* 拓展栏4：个人中心 */
/* 个人中心面板 */
#extendedBar4 {
    font-size: 0;
}
#personalBtn1{
    display: inline-block;
    color: #0090d2;
    font-weight: 600;
    border-style: solid;
    border-color: #0090d2;
    border-width: 0 2px 0 0;
    width: 120px;
    height: 25px;
    line-height: 25px;
    /* 目的是垂直居中 */
    text-align: center;
    font-size: 14px;
    margin: -10px 0 0 0;
}

#personalBtn2{
    display: inline-block;
    color: #0090d2;
    font-weight: 600;
    border-style: solid;
    border-color: #0090d2;
    border-width: 0;
    width: 120px;
    height: 25px;
    line-height: 25px;
    /* 目的是垂直居中 */
    text-align: center;
    font-size: 14px;
    margin: -10px 0 0 0;
}

#personalBtn1 {
    background-color: #ffffff;
}


/* 个人中心栏按钮 悬停 */
#extendedBar4 span:hover {
    color: #0090d2a7;
}

/* 个人中心 - 面板 */
.personalPanel {
    position: absolute;
    margin-left: 0;
    width: 242px;
    height: 620px;
    background-color: #ffffff;
    line-height: 30px;
    font-size: 16px;
    text-indent: 10px;
    /* 缩进 */
}
/* 报表按钮 */
#extendedBar4  EchartsBtn {
    position:fixed;
    bottom:20px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #0090d2;
    color: #fff;
}
#EchartsBtn {
    position:fixed;
    bottom:20px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #fff;
}
#Baobiao {
    width: 100px;
    height: 28px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    /* 渐变背景 */
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 50px;
    z-index: 1;
 }

#history {
    display: block;
    height:300px;
    overflow-y: scroll;
}

#favorites {
    display: block;
    height:300px;
    overflow-y: scroll;
}

#CReduction {
    display: none;
}
#CReduction h4 {
    margin: 0;
    padding: 10px 15px;
    height: 40px;
    box-sizing: border-box;
    text-indent: 0;
}

/* 个人中心-个人收藏 小面板 */
.myFavorite {
    height: 270px;
    text-indent: 15px;
    /* 缩进 */
    margin: 0;
}


/* 个人中心-个人收藏 小面板 标题 */
#favorites h4 {
    margin: 0;
    padding: 10px 15px;
    height: 40px;
    box-sizing: border-box;
    text-indent: 0;
    /* 父元素已经有缩进 */
}

body {
    overflow: hidden;
}

#routeContent, #routeContent2, #routeContentMul{
    color:rgb(0, 0, 0);
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.generateRoute b{
    color:rgb(0, 166, 255);
    font-size: 15px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.generateRoute .amap-call{
    display: none;
}

.generateRoute .afterdt{
    /* width: 5px; */
    background-color: rgba(241, 165, 0, 0.612);
}

.generateRoute h3{
    text-align: left !important;
}

.generateRoute .subwayline {
    font-size: 12px;
}

.generateRoute .busline{
    color: black;
    font-size: 12px;
}

.generateRoute .busstop {
    font-size: 12px;
    left: 0px;
}

.generateRoute h4{
    font-size: 12px;
    text-align: left !important;
    margin-top: 8px !important;
}

.generateRoute .busstop+span{
    font-size: 12px;
}

/* 信息提示 */
#msgHint{
    display: none;
    position: fixed;
    top: 110px;
    left: 48vw;
    z-index: 2000;
    height: 20px;
    border-radius: 40px;
    background-color: #3dac8fda;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    color: white;
}

/* 多点出行输入框 */
#search-box3 input{
    width: 180px !important;
}

/* 多点出行路线头 */
.routeCount{
    display: inline-block;
    margin: 4px;
}

.routeStaEnd{
    position: relative;
    display: inline-block;
    top: 3px;
    max-width:70px;
    height: 18px;
    line-height: 19px;
    border-radius: 20px;
    padding-bottom: -20px;
    background-color: #6aebebe1;
    font-size: 12px;
    text-indent: 4px;;
    margin: 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.routeStaEnd:hover{
    overflow: visible;
    text-overflow: inherit;	
    display: block;   /* 加上此行，解决全显示时，...还存在的问题 */
}
.tripModeSeelect{
    position: relative;
    display: block;
    width: 105px;
}

/* 个人中心 */
.docDiv{
    position: relative;
    width: 210px;
    height: 60px;
    left: 13px;
    border-style: solid;
    border-width: 1px;
}

.document{
    margin: 0;
    color: black;
    font-weight: 400;
    font-size: 12px;
}

.docSta, .docEnd{
    display: inline-block;
    max-width: 80px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 14px;
}

.docLink{
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 12px;
}

.docMode, .docDist, .docCarb{
    position: relative;
    bottom: 20px;
    margin-left: 12px;
    font-size: 12px;
}

/* 减碳量提示 */
#carbonReduction, #carbonReduction-mul{
    display: none;
    position: relative;
    background-color: #75ebebba;
    color:#0076d7;
    width: 97px;
    height: 15px;
    text-indent: 1px;
    line-height: 15px;
    left: 0px;
    padding: 5px;
    border-style: double;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px #44d6e4;
    margin-top: 5px;
}